* {
  margin: 0;
  padding: 0;
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.fade-in-image {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in-image.show {
  opacity: 1;
}

.info-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  line-height: 2rem;
}
.info-product p {
  padding: 0.8rem;
  font-size: 1.2rem;
  font-family: "Cairo", sans-serif;
  display: flex;
  justify-content: end;
}
