.image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  position: relative; /* Permet de positionner les éléments superposés */
}

.image-gallery img {
  max-width: 100%;
  max-height: 400px;
  border: 1px solid #f0f0f0;
  padding: 10px;
  margin-top: 10px;
}

.image-overlay {
  position: absolute;
  top: 50%; /* Centre verticalement les boutons */
  left: 0%;

  transform: translateY(-50%, 50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding: 0 20px; */
}

.image-overlay button {
  background-color: #f8f9fa8a;
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.progress-bar {
  width: 2rem;
  height: 2.5px;
  background-color: #f0f0f0;
  overflow: hidden;
  margin-top: 10px;
}

.progress {
  height: 100%;
  background-color: #040505;
  transition: width 0.3s ease;
}

@media (max-width: 1280px) {
  .image-overlay {
    position: absolute;
    top: 50%; /* Centre verticalement les boutons */
    left: 0%;
    transform: translateY(-50%, 50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* padding: 0 20px; */
  }
  .image-overlay button {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
  }
}
